@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
    font-family: 'Barlow', sans-serif;
    margin: 0%;
}

/* Nav Finished */
/* 
main{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 4px 0px 50px 5px black;
}

#login-page-logo{
    width: 200px;
}
input{
    width: 300px;
    height: 50px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    margin-bottom: 20px;
}

#login-btn{
    margin-top: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aquamarine;
    border-radius: 50px;
    font-size: 24px;
    margin-bottom: 40px;
}
main h1{
    margin-top: 40px;
}
main img{
    margin-top: 10px;
    margin-bottom: 30px;
} */

/* new flow */
header{
    border: 1px solid black;
    width: 1000px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 20px 1px black;

}

main div img{
    width: 500px;
}
main{
    display: flex;
    justify-content: space-around;
}
.input-box{
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
}
.input-alignment{
    display: flex;
    align-items: center;
}
.material-symbols-outlined{
    margin-right: 10px;
}
#login{
    font-size: 24px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: blue;
    display: inline;
    color: white;
}
#checkbox{
    margin-bottom: 70px;
    margin-top: 30px;
}

a{
    text-decoration: none;
}
div h1{
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer{
    display: flex;
    color: black;
    justify-content: space-around;
}
.footer div img{
    width: 30px;
}
#icons{
    display: flex;
    height: 30px;
    width: 200px;
    align-items: center;

}
#icon p{
    margin: 0%;
    margin-left: 30px;
}
.footer a{
    color: blue;
}