@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
    margin: 0%;
    font-family: 'Barlow', sans-serif;}
nav{
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: #f5f5f7;
    align-items: center;
    /* position: fixed; */
}
#logo{
    width: 20%;
    height: 1em;
    margin-left: 1em;
    /* margin-right: 350px; */
}
ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 0.4em;
}
li{
    display: flex;
  
}
a{
    text-decoration: none;
    color: black;
}
#signup{
    margin-right: 1em;
}
.nav-highlighted{
    border-bottom: 2px solid blue;
}
/* nav finished */
/* order summary box */
.main-contant{
    border: 1px solid black;
    font-size: .3em;
}
.order-summary{
    /* border: 1px solid black; */
    display: flex;   
}
hr{
    width: 90%;
}
#order-summary-word{
    color: red;
    background-color: rgb(227, 227, 227);
    border: 1px solid black;
    font-size: 10px;
}
.order-img{
    width: 150px;
    height: 75px;
    padding: 20px;
    /* border: 1px solid black; */
}
.price-color{
    color: rgb(101, 101, 101);
}
.column{
    display: flex;
    align-items: center;
}
.column p{
    margin-top: 12px;
    margin-left: 10px;
}
.rate{
    margin: 0%;
    font-size: 12px;
}
.line-through{
    text-decoration: line-through;
    color: red;
}
.green {
    color: rgb(87, 247, 82);
}

.rating-line{
    display: flex;
}
.rating-line p{
    padding: 1px;
    background-color: rgb(47, 255, 47);
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
.number-of-items{
    width: 10px;
    height: 3px;
    font-size: 5px;
    border: 2px solid black;
    background-color:  black;
    color: white;
    margin-left: 5px;
}
.add-more-items{
    margin: 0%;
    margin-bottom: 40px;
}
#place-order-btn{
    font-size: 10px;
    padding: 5px;
    background-color: aquamarine;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
#place-order-container{
    border: 1px solid black;
}

/* Details */

.details{
    font-size: .3em;
    display: flex;
    border: 1px solid black;
}
.price-details{
    display: flex;
    width: 200px;
    margin-left: 10px;
}
#align-details{
    margin-top: 18px;
}
#align-details2{
    margin-top: 29px;
    margin-left: 10px;
}
.price-details div h1{
    /* width: 00px; */
}


/* Footer starting */
.back-to-top{
    font-size: 0.5em;
    margin-top: 50px;
    padding: 10px;
    background-color: #37475a;
    color: white;
    display: block;
    text-align: center;
}
footer{
    background-color: #232f3e;
    color: white;
}
.footer{
    font-size: 0.5em;
    display: flex;
    justify-content: space-around;
}
#footer-logo{
    width: 4em;
    /* height: ; */
    margin-left: 10px;
    margin-top: 15px;
}
#footer-email{
    height: 10px;
    width: 60px;
    font-size: 0.2em;
}
.search-box{
    display: flex;
    align-items: center;
}
#footer-button{
    padding-left: 0%;
    font-size: .3em;
    height: 15px;
    width: 22px;
}
.footer-icon{
    width: 2em;
    height: 2em;
    margin-right: 1px;
    background-color: white;
    border-radius: 18px;
}
.footer-h3{
    margin: 0%;
    margin-bottom: 5px;
    color: white;
}
html{
    scroll-behavior: smooth;
}

